<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<a href =  "{{url_for('bp_update.admin_menu')}}">Назад</a>
<center>
  <h2>Введите информацию о сеансе</h2>
    {% if err %}
    <h4>{{err}}</h4>
  {% endif %}
  <form action="" method="post">
      <label for="f_id">Номер фильма</label>
      <input type="text" name="f_id" id="f_id">
      <br><br>
      <label for="h_id">Номер зала</label>
      <input type="text" name="h_id" id="h_id">
      <br><br>
      <label for="coef">Коэффициент</label>
      <input type="text" name="coef" id="coef">
      <br><br>
      <label for="dt">Дата</label>
      <input type="text" name="dt" id="dt">
      <br><br><br>
      <input type="submit" class=button value="Отправить">
      <input type="reset" class=button value="Очистить">
  </form>
</center>
</body>
</html>