<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<a href = "http://127.0.0.1:5001/">Главное меню</a>
<center>
  <h2>Введите логин и пароль</h2>
  {% if err %}
    <h4>{{err}}</h4>
  {% endif %}
  <form action="" method="post">
      <label for="login">Логин</label>
      <input type="text" name="login" id="login">
      <br><br>
      <label for="password">Пароль</label>
      <input type="text" name="password" id="password">
      <br><br><br>
      <input type="submit" class=button value="Отправить">
      <input type="reset" class=button value="Очистить">
  </form>
  <br><br>
  <a href = "{{url_for('bp_auto.reg')}}">Регистрация</a>
</center>
</body>
</html>